<!--/views/auth/login.ejs AUTH/CREATE-PROFILE.ejs-->
<% userData.forEach(function(user) { %>
<a href="/profiles/<%= userData._id %>"></a>
<% }) %>
<!-- <meta http-equiv="refresh" content="1;url=/profiles/<%= userData._id %>" /> -->
