<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		"
		<script src="../../public/javascripts/jquery-3.5.1.slim.min.js"></script>
		<script src="../../public/javascripts/bootstrap.bundle.min.js"></script>
		<script src="../../public/javascripts/validateForms.js"></script>
		<script
			src="https://kit.fontawesome.com/f3a929a902.js"
			crossorigin="anonymous"
		></script>

		<title>PeakPartner</title>
	</head>
	<body class="row mx-auto">
		<%- include('../partials/navbar') %>
		<!-- <%- include('../partials/footer') %> -->
	</body>
</html>
